In [1]:
#Import dependencies
import pandas as pd
import os
import numpy as np

In [2]:
#Load CSV
file_to_load = ("SF 2018 CO Original.csv")
CO_2018 =pd.read_csv(file_to_load)
CO_2018.head()

,Date,Source,Site ID,POC,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010009,1,0.9,ppm,10,Oakland,18,75.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
1,01/02/2018,AQS,60010009,1,1.2,ppm,14,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
2,01/03/2018,AQS,60010009,1,1.4,ppm,16,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
3,01/04/2018,AQS,60010009,1,0.7,ppm,8,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
4,01/05/2018,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935

In [3]:
#Check Columns
CO_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Max 8-hour CO Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [4]:
#Check Null Values
CO_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [5]:
#Drop Columns
CO_2018 = CO_2018.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE', 'COUNTY'], axis=1)

In [6]:
#Check DataFrame
CO_2018.head()

,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/01/2018,0.9,ppm,10,Oakland
1,01/02/2018,1.2,ppm,14,Oakland
2,01/03/2018,1.4,ppm,16,Oakland
3,01/04/2018,0.7,ppm,8,Oakland
4,01/05/2018,0.6,ppm,7,Oakland

In [7]:
#Rename Site Name & Daily Concentration Columns
CO_2018 = CO_2018.rename(columns={"Site Name": "Site_Name"})
CO_2018 = CO_2018.rename(columns={"Daily Max 8-hour CO Concentration":"Daily_Max_8-hr_CO_Concentration"})
CO_2018.head()

,Date,Daily_Max_8-hr_CO_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2018,0.9,ppm,10,Oakland
1,01/02/2018,1.2,ppm,14,Oakland
2,01/03/2018,1.4,ppm,16,Oakland
3,01/04/2018,0.7,ppm,8,Oakland
4,01/05/2018,0.6,ppm,7,Oakland

In [8]:
#Check Count
CO_2018.count()

Date                               3906
Daily_Max_8-hr_CO_Concentration    3906
UNITS                              3906
DAILY_AQI_VALUE                    3906
Site_Name                          3906
dtype: int64

In [9]:
#Filter for SF
#CO_2018 = CO_2018[(CO_2018.Site_Name == "Oakland West") | (CO_2018.Site_Name == "San Francisco")]
CO_2018 = CO_2018[(CO_2018.Site_Name == "San Francisco")]
CO_2018.head(10)

,Date,Daily_Max_8-hr_CO_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
3176,01/01/2018,0.7,ppm,8,San Francisco
3177,01/02/2018,0.8,ppm,9,San Francisco
3178,01/03/2018,0.9,ppm,10,San Francisco
3179,01/04/2018,0.8,ppm,9,San Francisco
3180,01/05/2018,0.6,ppm,7,San Francisco
3181,01/06/2018,0.7,ppm,8,San Francisco
3182,01/07/2018,0.7,ppm,8,San Francisco
3183,01/08/2018,0.7,ppm,8,San Francisco
3184,01/09/2018,0.6,ppm,7,San Francisco
3185,01/10/2018,0.4,ppm,5,San Francisco

In [10]:
#Check SF Count 365
CO_2018.count()

Date                               365
Daily_Max_8-hr_CO_Concentration    365
UNITS                              365
DAILY_AQI_VALUE                    365
Site_Name                          365
dtype: int64

In [11]:
#To CSV
CO_2018.to_csv(r'2018_co.csv', header= True, index=False)

In [12]:
##Load CSV for NO2
file_to_load = ("SF 2018 NO2.csv")
NO2_2018 =pd.read_csv(file_to_load)
NO2_2018.head()

,Date,Source,Site ID,POC,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010007,1,27.3,ppb,25,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2018,AQS,60010007,1,26.5,ppb,25,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2018,AQS,60010007,1,32.5,ppb,30,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2018,AQS,60010007,1,24.0,ppb,23,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2018,AQS,60010007,1,22.6,ppb,21,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [13]:
#Check Columns
NO2_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 1-hour NO2 Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [14]:
#Check Null Values
NO2_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [15]:
#Drop Columns
NO2_2018 = NO2_2018.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [16]:
#Check DataFrame
NO2_2018.head()

,Date,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/01/2018,27.3,ppb,25,Livermore
1,01/02/2018,26.5,ppb,25,Livermore
2,01/03/2018,32.5,ppb,30,Livermore
3,01/04/2018,24.0,ppb,23,Livermore
4,01/05/2018,22.6,ppb,21,Livermore

In [17]:
#Rename Site Name & Daily Concentration Columns
NO2_2018 = NO2_2018.rename(columns={"Site Name": "Site_Name"})
NO2_2018 = NO2_2018.rename(columns={"Daily Max 1-hour NO2 Concentration":"Daily_Max_1-hr_NO2_Concentration"})
NO2_2018.head()

,Date,Daily_Max_1-hr_NO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2018,27.3,ppb,25,Livermore
1,01/02/2018,26.5,ppb,25,Livermore
2,01/03/2018,32.5,ppb,30,Livermore
3,01/04/2018,24.0,ppb,23,Livermore
4,01/05/2018,22.6,ppb,21,Livermore

In [18]:
#Filter for SF
#NO2_2018 = NO2_2018[(NO2_2018.Site_Name == "Oakland West") | (NO2_2018.Site_Name == "San Francisco")]
NO2_2018 = NO2_2018[(NO2_2018.Site_Name == "San Francisco")]
NO2_2018.head(10)

,Date,Daily_Max_1-hr_NO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
3821,01/01/2018,43.0,ppb,41,San Francisco
3822,01/02/2018,45.0,ppb,42,San Francisco
3823,01/03/2018,45.4,ppb,42,San Francisco
3824,01/04/2018,29.8,ppb,27,San Francisco
3825,01/05/2018,28.8,ppb,26,San Francisco
3826,01/06/2018,29.8,ppb,27,San Francisco
3827,01/07/2018,24.4,ppb,23,San Francisco
3828,01/08/2018,25.4,ppb,24,San Francisco
3829,01/09/2018,21.9,ppb,20,San Francisco
3830,01/10/2018,28.9,ppb,26,San Francisco

In [19]:
#Check Count for SF
NO2_2018.count()

Date                                361
Daily_Max_1-hr_NO2_Concentration    361
UNITS                               361
DAILY_AQI_VALUE                     361
Site_Name                           361
dtype: int64

In [20]:
# To CSV
NO2_2018.to_csv(r'2018_no2.csv', header= True, index=False)

In [21]:
##Load CSV for Ozone
file_to_load = ("SF 2018 Ozone.csv")
Ozone_2018 =pd.read_csv(file_to_load)
Ozone_2018.head()

,Date,Source,Site ID,POC,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010007,1,0.027,ppm,25,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2018,AQS,60010007,1,0.033,ppm,31,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2018,AQS,60010007,1,0.004,ppm,4,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2018,AQS,60010007,1,0.026,ppm,24,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2018,AQS,60010007,1,0.024,ppm,22,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [22]:
#Check Columns
Ozone_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 8-hour Ozone Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [23]:
#Check Null Values
Ozone_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [24]:
#Drop Columns
Ozone_2018 = Ozone_2018.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [25]:
#Check DataFrame
Ozone_2018.head()

,Date,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/01/2018,0.027,ppm,25,Livermore
1,01/02/2018,0.033,ppm,31,Livermore
2,01/03/2018,0.004,ppm,4,Livermore
3,01/04/2018,0.026,ppm,24,Livermore
4,01/05/2018,0.024,ppm,22,Livermore

In [26]:
#Rename Site Name & Daily Concentraion Columns
Ozone_2018 = Ozone_2018.rename(columns={"Site Name": "Site_Name"})
Ozone_2018 = Ozone_2018.rename(columns={"Daily Max 8-hour Ozone Concentration": "Daily_Max_8-hr_Ozone_Concentration"})
Ozone_2018.head()

,Date,Daily_Max_8-hr_Ozone_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2018,0.027,ppm,25,Livermore
1,01/02/2018,0.033,ppm,31,Livermore
2,01/03/2018,0.004,ppm,4,Livermore
3,01/04/2018,0.026,ppm,24,Livermore
4,01/05/2018,0.024,ppm,22,Livermore

In [27]:
#Filter for SF & Oakland West
#Ozone_2018 = Ozone_2018[(Ozone_2018.Site_Name == "Oakland West") | (Ozone_2018.Site_Name == "San Francisco")]
Ozone_2018 = Ozone_2018[(Ozone_2018.Site_Name == "San Francisco")]
Ozone_2018.head(10)

,Date,Daily_Max_8-hr_Ozone_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
3548,01/01/2018,0.014,ppm,13,San Francisco
3549,01/02/2018,0.009,ppm,8,San Francisco
3550,01/03/2018,0.005,ppm,5,San Francisco
3551,01/04/2018,0.018,ppm,17,San Francisco
3552,01/05/2018,0.027,ppm,25,San Francisco
3553,01/06/2018,0.025,ppm,23,San Francisco
3554,01/07/2018,0.008,ppm,7,San Francisco
3555,01/08/2018,0.003,ppm,3,San Francisco
3556,01/09/2018,0.029,ppm,27,San Francisco
3557,01/10/2018,0.024,ppm,22,San Francisco

In [28]:
#Check count for SF
Ozone_2018.count()

Date                                  359
Daily_Max_8-hr_Ozone_Concentration    359
UNITS                                 359
DAILY_AQI_VALUE                       359
Site_Name                             359
dtype: int64

In [29]:
#To CSV
Ozone_2018.to_csv(r'2018_oz.csv', header= True, index=False)

In [30]:
##Load CSV for Pb
#file_to_load = ("SF 2018 Pb.csv")
#Pb_2018 =pd.read_csv(file_to_load)
#Pb_2018.head()

In [31]:
#Check Columns
#Pb_2018.columns

In [32]:
#Check Null Values
#Pb_2018.columns.isnull()

In [33]:
#Drop Columns
#Pb_2018 = Pb_2018.drop(columns=['Source','Site ID','POC','Site Name','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','STATE_CODE','STATE','COUNTY_CODE'], axis=1)

In [34]:
#Check DataFrame
#Pb_2018.head()

In [35]:
#Check count
#Pb_2018.count()

In [36]:
##Load CSV for PM2.5
file_to_load = ("SF 2018 PM2.5.csv")
PM2_5_2018 =pd.read_csv(file_to_load)
PM2_5_2018.head()

,Date,Source,Site ID,POC,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010007,3,28.1,ug/m3 LC,85,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2018,AQS,60010007,3,24.5,ug/m3 LC,77,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2018,AQS,60010007,3,39.0,ug/m3 LC,110,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2018,AQS,60010007,3,20.9,ug/m3 LC,70,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2018,AQS,60010007,3,5.5,ug/m3 LC,23,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [37]:
#Check Columns
PM2_5_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM2.5 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [38]:
#Check Null Values
PM2_5_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [39]:
#Drop Columns
PM2_5_2018 = PM2_5_2018.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [40]:
#Check DataFrame
PM2_5_2018.head()

,Date,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/01/2018,28.1,ug/m3 LC,85,Livermore
1,01/02/2018,24.5,ug/m3 LC,77,Livermore
2,01/03/2018,39.0,ug/m3 LC,110,Livermore
3,01/04/2018,20.9,ug/m3 LC,70,Livermore
4,01/05/2018,5.5,ug/m3 LC,23,Livermore

In [41]:
#Rename Site Name & Daily Concentration Columns
PM2_5_2018 = PM2_5_2018.rename(columns={"Site Name": "Site_Name"})
PM2_5_2018 = PM2_5_2018.rename(columns={"Daily Mean PM2.5 Concentration": "Daily_Mean_PM2.5_Concentration"})
PM2_5_2018.head()

,Date,Daily_Mean_PM2.5_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2018,28.1,ug/m3 LC,85,Livermore
1,01/02/2018,24.5,ug/m3 LC,77,Livermore
2,01/03/2018,39.0,ug/m3 LC,110,Livermore
3,01/04/2018,20.9,ug/m3 LC,70,Livermore
4,01/05/2018,5.5,ug/m3 LC,23,Livermore

In [42]:
#Filter for SF
#PM2_5_2018 = PM2_5_2018[(PM2_5_2018.Site_Name == "Oakland West") | (PM2_5_2018.Site_Name == "San Francisco")]
PM2_5_2018 = PM2_5_2018[(PM2_5_2018.Site_Name == "San Francisco")]
PM2_5_2018.head(10)

,Date,Daily_Mean_PM2.5_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
3229,01/01/2018,22.1,ug/m3 LC,72,San Francisco
3230,01/02/2018,26.7,ug/m3 LC,82,San Francisco
3231,01/03/2018,39.5,ug/m3 LC,111,San Francisco
3232,01/04/2018,15.6,ug/m3 LC,58,San Francisco
3233,01/05/2018,5.2,ug/m3 LC,22,San Francisco
3234,01/06/2018,8.1,ug/m3 LC,34,San Francisco
3235,01/07/2018,12.7,ug/m3 LC,52,San Francisco
3236,01/08/2018,9.0,ug/m3 LC,38,San Francisco
3237,01/09/2018,4.4,ug/m3 LC,18,San Francisco
3238,01/10/2018,7.7,ug/m3 LC,32,San Francisco

In [43]:
#Check count for SF
PM2_5_2018.count()

Date                              353
Daily_Mean_PM2.5_Concentration    353
UNITS                             353
DAILY_AQI_VALUE                   353
Site_Name                         353
dtype: int64

In [44]:
#To CSV
PM2_5_2018.to_csv(r'2018_pm2_5.csv', header= True, index=False)

In [45]:
##Load CSV for SO2
#file_to_load = ("SF 2018 SO2.csv")
#SO2_2018 =pd.read_csv(file_to_load)
#SO2_2018.head()

In [46]:
#Check Columns
#SO2_2018.columns

In [47]:
#Check Null Values
#SO2_2018.columns.isnull()

In [48]:
#Drop Columns
#SO2_2018 = SO2_2018.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [49]:
#Check DataFrame
#SO2_2018.head()

In [50]:
#Rename Site Name & Daily Concentration Columns
#SO2_2018 = SO2_2018.rename(columns={"Site Name": "Site_Name"})
#SO2_2018 = SO2_2018.rename(columns={"Daily Max 1-hour SO2 Concentration": "Daily_Max_1-hour_SO2_Concentration"})
#SO2_2018.head()

In [51]:
#Filter for SF & Oakland West
#SO2_2018 = SO2_2018[(SO2_2018.Site_Name == "Oakland West") | (SO2_2018.Site_Name == "San Francisco")]
#SO2_2018.head(10)

In [52]:
#Check Count for SF & Oakland West
#SO2_2018.count()

In [53]:
#To CSV
#SO2_2018.to_csv(r'SO2_2018_clean.csv', header= True, index=False)

In [54]:
##Load CSV for PM2.5
file_to_load = ("SF 2018 PM10.csv")
PM10_2018 =pd.read_csv(file_to_load)
PM10_2018.head()

,Date,Source,Site ID,POC,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/02/2018,AQS,60130002,1,24,ug/m3 SC,22,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
1,01/14/2018,AQS,60130002,1,24,ug/m3 SC,22,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
2,01/26/2018,AQS,60130002,1,9,ug/m3 SC,8,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
3,02/07/2018,AQS,60130002,1,25,ug/m3 SC,23,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
4,02/19/2018,AQS,60130002,1,5,ug/m3 SC,5,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154

In [55]:
#Check Columns
PM10_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM10 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [56]:
#Check Null Values
PM10_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [57]:
#Drop Columns
PM10_2018 = PM10_2018.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [58]:
#Check DataFrame
PM10_2018.head()

,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/02/2018,24,ug/m3 SC,22,Concord
1,01/14/2018,24,ug/m3 SC,22,Concord
2,01/26/2018,9,ug/m3 SC,8,Concord
3,02/07/2018,25,ug/m3 SC,23,Concord
4,02/19/2018,5,ug/m3 SC,5,Concord

In [59]:
#Rename Site Name & Concentration Columns
PM10_2018 = PM10_2018.rename(columns={"Site Name": "Site_Name"})
PM10_2018 = PM10_2018.rename(columns={"Daily Mean PM10 Concentration": "Daily_Mean_PM10_Concentration"})
PM10_2018.head()

,Date,Daily_Mean_PM10_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/02/2018,24,ug/m3 SC,22,Concord
1,01/14/2018,24,ug/m3 SC,22,Concord
2,01/26/2018,9,ug/m3 SC,8,Concord
3,02/07/2018,25,ug/m3 SC,23,Concord
4,02/19/2018,5,ug/m3 SC,5,Concord

In [60]:
#Filter for SF
#PM10_2018 = PM10_2018[(PM10_2018.Site_Name == "Oakland West") | (PM10_2018.Site_Name == "San Francisco")]
PM10_2018 = PM10_2018[(PM10_2018.Site_Name == "San Francisco")]
PM10_2018.head(10)

,Date,Daily_Mean_PM10_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
227,01/02/2018,40,ug/m3 SC,37,San Francisco
228,01/14/2018,26,ug/m3 SC,24,San Francisco
229,01/26/2018,18,ug/m3 SC,17,San Francisco
230,02/07/2018,35,ug/m3 SC,32,San Francisco
231,02/19/2018,9,ug/m3 SC,8,San Francisco
232,03/03/2018,7,ug/m3 SC,6,San Francisco
233,03/15/2018,12,ug/m3 SC,11,San Francisco
234,03/27/2018,23,ug/m3 SC,21,San Francisco
235,04/08/2018,24,ug/m3 SC,22,San Francisco
236,04/20/2018,29,ug/m3 SC,27,San Francisco

In [61]:
#Check Count for SF
PM10_2018.count()

Date                             30
Daily_Mean_PM10_Concentration    30
UNITS                            30
DAILY_AQI_VALUE                  30
Site_Name                        30
dtype: int64

In [62]:
#To CSV
PM10_2018.to_csv(r'2018_PM10.csv', header= True, index=False)