In [1]:
#Importing packages
import pandas as pd
import os
import numpy as np

In [2]:
#Loading raw data CSV: 2016 Carbon Monoxide (CO)
file_to_load = ("2016-co-sfbay.csv")
CO_2016 =pd.read_csv(file_to_load)
CO_2016.head()

,Date,Source,Site ID,POC,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2016,AQS,60010009,1,0.3,ppm,3,Oakland,18,75.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
1,01/02/2016,AQS,60010009,1,0.3,ppm,3,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
2,01/03/2016,AQS,60010009,1,0.3,ppm,3,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
3,01/04/2016,AQS,60010009,1,0.4,ppm,5,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
4,01/05/2016,AQS,60010009,1,0.5,ppm,6,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935

In [3]:
#Checking Columns
CO_2016.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Max 8-hour CO Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [4]:
#Checking Null Values
CO_2016.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [5]:
#Dropping Columns
CO_2016 = CO_2016.drop(columns=['Source','Site ID','POC','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE','SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [6]:
#Checking Columns after drop
CO_2016.columns

Index(['Date', 'Daily Max 8-hour CO Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'COUNTY'],
      dtype='object')

In [7]:
#Checking DataFrame
CO_2016.head()

,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2016,0.3,ppm,3,Oakland,Alameda
1,01/02/2016,0.3,ppm,3,Oakland,Alameda
2,01/03/2016,0.3,ppm,3,Oakland,Alameda
3,01/04/2016,0.4,ppm,5,Oakland,Alameda
4,01/05/2016,0.5,ppm,6,Oakland,Alameda

In [8]:
#Renaming Columns
CO_2016 = CO_2016.rename(columns={"Site Name": "Site_Name"})
CO_2016 = CO_2016.rename(columns={"Daily Max 8-hour CO Concentration": "Daily_Max_8-hr_CO_Concentration"})
CO_2016.head()

,Date,Daily_Max_8-hr_CO_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2016,0.3,ppm,3,Oakland,Alameda
1,01/02/2016,0.3,ppm,3,Oakland,Alameda
2,01/03/2016,0.3,ppm,3,Oakland,Alameda
3,01/04/2016,0.4,ppm,5,Oakland,Alameda
4,01/05/2016,0.5,ppm,6,Oakland,Alameda

In [9]:
#Checking Count: 
CO_2016.count()

Date                               3361
Daily_Max_8-hr_CO_Concentration    3361
UNITS                              3361
DAILY_AQI_VALUE                    3361
Site_Name                          3361
COUNTY                             3361
dtype: int64

In [10]:
#Filtering on Site_Name for: Oakland West (OW) & San Francisco (SF)
CO_2016 = CO_2016[(CO_2016.Site_Name == "Oakland West") | (CO_2016.Site_Name == "San Francisco")]
CO_2016.head(600)

,Date,Daily_Max_8-hr_CO_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
353,01/01/2016,0.3,ppm,3,Oakland West,Alameda
354,01/02/2016,0.4,ppm,5,Oakland West,Alameda
355,01/03/2016,0.5,ppm,6,Oakland West,Alameda
356,01/04/2016,0.7,ppm,8,Oakland West,Alameda
357,01/05/2016,0.6,ppm,7,Oakland West,Alameda
...,...,...,...,...,...,...
2911,09/29/2016,0.3,ppm,3,San Francisco,San Francisco
2912,09/30/2016,0.4,ppm,5,San Francisco,San Francisco
2913,10/01/2016,0.5,ppm,6,San Francisco,San Francisco
2914,10/02/2016,0.3,ppm,3,San Francisco,San Francisco
2915,10/03/2016,0.5,ppm,6,San Francisco,San Francisco

In [11]:
#Checking OW & SF Count: 686
CO_2016.count()

Date                               686
Daily_Max_8-hr_CO_Concentration    686
UNITS                              686
DAILY_AQI_VALUE                    686
Site_Name                          686
COUNTY                             686
dtype: int64

In [12]:
#Loading raw data CSV: 2016 Nitrogen Dioxide (NO2)
file_to_load = ("2016-no2-sfbay.csv")
NO2_2016 =pd.read_csv(file_to_load)
NO2_2016.head()

,Date,Source,Site ID,POC,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2016,AQS,60010007,1,20.5,ppb,19,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2016,AQS,60010007,1,21.5,ppb,20,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2016,AQS,60010007,1,26.0,ppb,25,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2016,AQS,60010007,1,26.7,ppb,25,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2016,AQS,60010007,1,29.6,ppb,27,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [13]:
#Checking Columns
NO2_2016.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 1-hour NO2 Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [14]:
#Checking Null Values
NO2_2016.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [15]:
#Dropping Columns
NO2_2016 = NO2_2016.drop(columns=['Source','Site ID','POC','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE','SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [16]:
#Checking DataFrame
NO2_2016.head()

,Date,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2016,20.5,ppb,19,Livermore,Alameda
1,01/02/2016,21.5,ppb,20,Livermore,Alameda
2,01/03/2016,26.0,ppb,25,Livermore,Alameda
3,01/04/2016,26.7,ppb,25,Livermore,Alameda
4,01/05/2016,29.6,ppb,27,Livermore,Alameda

In [17]:
#Renaming Columns
NO2_2016 = NO2_2016.rename(columns={"Site Name": "Site_Name"})
NO2_2016 = NO2_2016.rename(columns={"Daily Max 1-hour NO2 Concentration": "Daily_Max_1-hr_NO2_Concentration"})
NO2_2016.head()

,Date,Daily_Max_1-hr_NO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2016,20.5,ppb,19,Livermore,Alameda
1,01/02/2016,21.5,ppb,20,Livermore,Alameda
2,01/03/2016,26.0,ppb,25,Livermore,Alameda
3,01/04/2016,26.7,ppb,25,Livermore,Alameda
4,01/05/2016,29.6,ppb,27,Livermore,Alameda

In [18]:
#Checking Count: 
NO2_2016.count()

Date                                4260
Daily_Max_1-hr_NO2_Concentration    4260
UNITS                               4260
DAILY_AQI_VALUE                     4260
Site_Name                           4260
COUNTY                              4260
dtype: int64

In [20]:
#Filtering on Site_Name for: Oakland West (OW) & San Francisco (SF)
NO2_2016 = NO2_2016[(NO2_2016.Site_Name == "Oakland West") | (NO2_2016.Site_Name == "San Francisco")]
NO2_2016.head(600)

,Date,Daily_Max_1-hr_NO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
727,01/01/2016,17.5,ppb,16,Oakland West,Alameda
728,01/02/2016,22.4,ppb,21,Oakland West,Alameda
729,01/03/2016,28.3,ppb,26,Oakland West,Alameda
730,01/04/2016,36.5,ppb,34,Oakland West,Alameda
731,01/05/2016,38.9,ppb,36,Oakland West,Alameda
...,...,...,...,...,...,...
3796,09/18/2016,22.3,ppb,21,San Francisco,San Francisco
3797,09/19/2016,34.7,ppb,32,San Francisco,San Francisco
3798,09/20/2016,9.4,ppb,8,San Francisco,San Francisco
3799,09/21/2016,12.8,ppb,11,San Francisco,San Francisco
3800,09/22/2016,14.3,ppb,13,San Francisco,San Francisco

In [21]:
#Checking OW & SF Count: 
NO2_2016.count()

Date                                698
Daily_Max_1-hr_NO2_Concentration    698
UNITS                               698
DAILY_AQI_VALUE                     698
Site_Name                           698
COUNTY                              698
dtype: int64

In [22]:
#Loading raw data CSV: 2016 Ozone (Oz)
file_to_load = ("2016-oz-sfbay.csv")
Oz_2016 =pd.read_csv(file_to_load)
Oz_2016.head()

,Date,Source,Site ID,POC,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2016,AQS,60010007,1,0.031,ppm,29,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2016,AQS,60010007,1,0.026,ppm,24,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2016,AQS,60010007,1,0.020,ppm,19,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2016,AQS,60010007,1,0.025,ppm,23,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2016,AQS,60010007,1,0.032,ppm,30,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [23]:
#Checking Columns
Oz_2016.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 8-hour Ozone Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [24]:
#Checking Null Values
Oz_2016.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [25]:
#Dropping Columns
Oz_2016 = Oz_2016.drop(columns=['Source','Site ID','POC','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE','SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [26]:
#Checking DataFrame
Oz_2016.head()

,Date,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2016,0.031,ppm,29,Livermore,Alameda
1,01/02/2016,0.026,ppm,24,Livermore,Alameda
2,01/03/2016,0.020,ppm,19,Livermore,Alameda
3,01/04/2016,0.025,ppm,23,Livermore,Alameda
4,01/05/2016,0.032,ppm,30,Livermore,Alameda

In [27]:
#Renaming Columns
Oz_2016 = Oz_2016.rename(columns={"Site Name": "Site_Name"})
Oz_2016 = Oz_2016.rename(columns={"Daily Max 8-hour Ozone Concentration": "Daily_Max_8-hr_Ozone_Concentration"})
Oz_2016.head()

,Date,Daily_Max_8-hr_Ozone_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2016,0.031,ppm,29,Livermore,Alameda
1,01/02/2016,0.026,ppm,24,Livermore,Alameda
2,01/03/2016,0.020,ppm,19,Livermore,Alameda
3,01/04/2016,0.025,ppm,23,Livermore,Alameda
4,01/05/2016,0.032,ppm,30,Livermore,Alameda

In [28]:
#Checking Count: 4254
Oz_2016.count()

Date                                  4254
Daily_Max_8-hr_Ozone_Concentration    4254
UNITS                                 4254
DAILY_AQI_VALUE                       4254
Site_Name                             4254
COUNTY                                4254
dtype: int64

In [29]:
#Filtering on Site_Name for: Oakland West (OW) & San Francisco (SF)
Oz_2016 = Oz_2016[(Oz_2016.Site_Name == "Oakland West") | (Oz_2016.Site_Name == "San Francisco")]
Oz_2016.head(600)

,Date,Daily_Max_8-hr_Ozone_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
721,01/01/2016,0.030,ppm,28,Oakland West,Alameda
722,01/02/2016,0.024,ppm,22,Oakland West,Alameda
723,01/03/2016,0.021,ppm,19,Oakland West,Alameda
724,01/04/2016,0.025,ppm,23,Oakland West,Alameda
725,01/05/2016,0.021,ppm,19,Oakland West,Alameda
...,...,...,...,...,...,...
3786,09/14/2016,0.029,ppm,27,San Francisco,San Francisco
3787,09/15/2016,0.034,ppm,31,San Francisco,San Francisco
3788,09/16/2016,0.027,ppm,25,San Francisco,San Francisco
3789,09/17/2016,0.026,ppm,24,San Francisco,San Francisco
3790,09/18/2016,0.025,ppm,23,San Francisco,San Francisco

In [30]:
#Checking OW & SF Count: 702
Oz_2016.count()

Date                                  702
Daily_Max_8-hr_Ozone_Concentration    702
UNITS                                 702
DAILY_AQI_VALUE                       702
Site_Name                             702
COUNTY                                702
dtype: int64

In [31]:
#Loading raw data CSV: 2016 Particulate Matter 2.5 (PM2_5)
file_to_load = ("2016-pm2.5-sfbay.csv")
PM2_5_2016 =pd.read_csv(file_to_load)
PM2_5_2016.head()

,Date,Source,Site ID,POC,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2016,AQS,60010007,3,9.9,ug/m3 LC,41,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2016,AQS,60010007,3,12.9,ug/m3 LC,53,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2016,AQS,60010007,3,22.3,ug/m3 LC,72,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2016,AQS,60010007,3,17.0,ug/m3 LC,61,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2016,AQS,60010007,3,5.0,ug/m3 LC,21,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [32]:
#Checking Columns
PM2_5_2016.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM2.5 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [34]:
#Checking Null Values
PM2_5_2016.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [35]:
#Dropping Columns
PM2_5_2016 = PM2_5_2016.drop(columns=['Source','Site ID','POC','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE','SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [36]:
#Checking DataFrame
PM2_5_2016.head()

,Date,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2016,9.9,ug/m3 LC,41,Livermore,Alameda
1,01/02/2016,12.9,ug/m3 LC,53,Livermore,Alameda
2,01/03/2016,22.3,ug/m3 LC,72,Livermore,Alameda
3,01/04/2016,17.0,ug/m3 LC,61,Livermore,Alameda
4,01/05/2016,5.0,ug/m3 LC,21,Livermore,Alameda

In [37]:
#Renaming Columns
PM2_5_2016 = PM2_5_2016.rename(columns={"Site Name": "Site_Name"})
PM2_5_2016 = PM2_5_2016.rename(columns={"Daily Mean PM2.5 Concentration": "Daily_Mean_PM2.5_Concentration"})
PM2_5_2016.head()

,Date,Daily_Mean_PM2.5_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2016,9.9,ug/m3 LC,41,Livermore,Alameda
1,01/02/2016,12.9,ug/m3 LC,53,Livermore,Alameda
2,01/03/2016,22.3,ug/m3 LC,72,Livermore,Alameda
3,01/04/2016,17.0,ug/m3 LC,61,Livermore,Alameda
4,01/05/2016,5.0,ug/m3 LC,21,Livermore,Alameda

In [38]:
#Checking Count: 
PM2_5_2016.count()

Date                              3392
Daily_Mean_PM2.5_Concentration    3392
UNITS                             3392
DAILY_AQI_VALUE                   3392
Site_Name                         3392
COUNTY                            3392
dtype: int64

In [39]:
#Filtering on Site_Name for: Oakland West (OW) & San Francisco (SF)
PM2_5_2016 = PM2_5_2016[(PM2_5_2016.Site_Name == "Oakland West") | (PM2_5_2016.Site_Name == "San Francisco")]
PM2_5_2016.head(600)

,Date,Daily_Mean_PM2.5_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
719,01/01/2016,6.1,ug/m3 LC,25,Oakland West,Alameda
720,01/02/2016,11.5,ug/m3 LC,48,Oakland West,Alameda
721,01/03/2016,15.6,ug/m3 LC,58,Oakland West,Alameda
722,01/15/2016,7.4,ug/m3 LC,31,Oakland West,Alameda
723,01/16/2016,6.1,ug/m3 LC,25,Oakland West,Alameda
...,...,...,...,...,...,...
2960,10/05/2016,6.8,ug/m3 LC,28,San Francisco,San Francisco
2961,10/06/2016,5.7,ug/m3 LC,24,San Francisco,San Francisco
2962,10/07/2016,8.4,ug/m3 LC,35,San Francisco,San Francisco
2963,10/08/2016,8.4,ug/m3 LC,35,San Francisco,San Francisco
2964,10/09/2016,7.1,ug/m3 LC,30,San Francisco,San Francisco

In [40]:
#Checking OW & SF Count: 675
PM2_5_2016.count()

Date                              675
Daily_Mean_PM2.5_Concentration    675
UNITS                             675
DAILY_AQI_VALUE                   675
Site_Name                         675
COUNTY                            675
dtype: int64

In [42]:
#Loading raw data CSV: 2016 Particulate Matter 10 (PM10)
file_to_load = ("2016-pm10-sfbay.csv")
PM10_2016 =pd.read_csv(file_to_load)
PM10_2016.head()

,Date,Source,Site ID,POC,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2016,AQS,60130002,1,9,ug/m3 SC,8,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
1,01/13/2016,AQS,60130002,1,14,ug/m3 SC,13,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
2,01/25/2016,AQS,60130002,1,7,ug/m3 SC,6,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
3,02/06/2016,AQS,60130002,1,12,ug/m3 SC,11,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
4,02/18/2016,AQS,60130002,1,12,ug/m3 SC,11,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154

In [43]:
#Checking Columns
PM10_2016.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM10 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [44]:
#Checking Null Values
PM10_2016.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [45]:
#Dropping Columns
PM10_2016 = PM10_2016.drop(columns=['Source','Site ID','POC','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE','SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [46]:
#Checking Columns after drop
PM10_2016.columns

Index(['Date', 'Daily Mean PM10 Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'COUNTY'],
      dtype='object')

In [47]:
#Checking DataFrame
PM10_2016.head()

,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2016,9,ug/m3 SC,8,Concord,Contra Costa
1,01/13/2016,14,ug/m3 SC,13,Concord,Contra Costa
2,01/25/2016,7,ug/m3 SC,6,Concord,Contra Costa
3,02/06/2016,12,ug/m3 SC,11,Concord,Contra Costa
4,02/18/2016,12,ug/m3 SC,11,Concord,Contra Costa

In [48]:
#Renaming Columns
PM10_2016 = PM10_2016.rename(columns={"Site Name": "Site_Name"})
PM10_2016 = PM10_2016.rename(columns={"Daily Mean PM10 Concentration": "Daily_Mean_PM10_Concentration"})
PM10_2016.head()

,Date,Daily_Mean_PM10_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2016,9,ug/m3 SC,8,Concord,Contra Costa
1,01/13/2016,14,ug/m3 SC,13,Concord,Contra Costa
2,01/25/2016,7,ug/m3 SC,6,Concord,Contra Costa
3,02/06/2016,12,ug/m3 SC,11,Concord,Contra Costa
4,02/18/2016,12,ug/m3 SC,11,Concord,Contra Costa

In [49]:
#Checking Count: 
PM10_2016.count()

Date                             218
Daily_Mean_PM10_Concentration    218
UNITS                            218
DAILY_AQI_VALUE                  218
Site_Name                        218
COUNTY                           218
dtype: int64

In [50]:
#Filtering on Site_Name for: Oakland West (OW) & San Francisco (SF)
PM10_2016 = PM10_2016[(PM10_2016.Site_Name == "Oakland West") | (PM10_2016.Site_Name == "San Francisco")]
PM10_2016.head()
#Note: Oakland West has no PM10 data

,Date,Daily_Mean_PM10_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
188,01/01/2016,14,ug/m3 SC,13,San Francisco,San Francisco
189,01/13/2016,21,ug/m3 SC,19,San Francisco,San Francisco
190,01/25/2016,16,ug/m3 SC,15,San Francisco,San Francisco
191,02/06/2016,21,ug/m3 SC,19,San Francisco,San Francisco
192,02/18/2016,26,ug/m3 SC,24,San Francisco,San Francisco

In [51]:
#Checking OW & SF Count: 
PM10_2016.count()

Date                             30
Daily_Mean_PM10_Concentration    30
UNITS                            30
DAILY_AQI_VALUE                  30
Site_Name                        30
COUNTY                           30
dtype: int64

In [52]:
#Loading raw data CSV: 2016 Sulfur Dioxide (SO2)
file_to_load = ("2016-so2-sfbay.csv")
SO2_2016 =pd.read_csv(file_to_load)
SO2_2016.head()

,Date,Source,Site ID,POC,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2016,AQS,60010011,1,0.9,ppb,0,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
1,01/02/2016,AQS,60010011,1,0.7,ppb,0,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
2,01/03/2016,AQS,60010011,1,1.1,ppb,1,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
3,01/04/2016,AQS,60010011,1,1.1,ppb,1,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
4,01/05/2016,AQS,60010011,1,0.6,ppb,0,Oakland West,20,83.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347

In [53]:
#Checking Columns
SO2_2016.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 1-hour SO2 Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [54]:
#Checking Null Values
SO2_2016.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [55]:
#Dropping Columns
SO2_2016 = SO2_2016.drop(columns=['Source','Site ID','POC','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE','SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [56]:
#Checking Columns after drop
SO2_2016.columns

Index(['Date', 'Daily Max 1-hour SO2 Concentration', 'UNITS',
       'DAILY_AQI_VALUE', 'Site Name', 'COUNTY'],
      dtype='object')

In [57]:
#Checking DataFrame
SO2_2016.head()

,Date,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2016,0.9,ppb,0,Oakland West,Alameda
1,01/02/2016,0.7,ppb,0,Oakland West,Alameda
2,01/03/2016,1.1,ppb,1,Oakland West,Alameda
3,01/04/2016,1.1,ppb,1,Oakland West,Alameda
4,01/05/2016,0.6,ppb,0,Oakland West,Alameda

In [58]:
#Renaming Columns
SO2_2016 = SO2_2016.rename(columns={"Site Name": "Site_Name"})
SO2_2016 = SO2_2016.rename(columns={"Daily Max 1-hour SO2 Concentration": "Daily_Max_1-hr_SO2_Concentration"})
SO2_2016.head()

,Date,Daily_Max_1-hr_SO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2016,0.9,ppb,0,Oakland West,Alameda
1,01/02/2016,0.7,ppb,0,Oakland West,Alameda
2,01/03/2016,1.1,ppb,1,Oakland West,Alameda
3,01/04/2016,1.1,ppb,1,Oakland West,Alameda
4,01/05/2016,0.6,ppb,0,Oakland West,Alameda

In [59]:
#Checking Count: 
SO2_2016.count()

Date                                2496
Daily_Max_1-hr_SO2_Concentration    2496
UNITS                               2496
DAILY_AQI_VALUE                     2496
Site_Name                           2496
COUNTY                              2496
dtype: int64

In [60]:
#Filtering on Site_Name for: Oakland West (OW) & San Francisco (SF)
SO2_2016 = SO2_2016[(SO2_2016.Site_Name == "Oakland West") | (SO2_2016.Site_Name == "San Francisco")]
SO2_2016.head()
#Note: San Francisco has no SO2 data

,Date,Daily_Max_1-hr_SO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2016,0.9,ppb,0,Oakland West,Alameda
1,01/02/2016,0.7,ppb,0,Oakland West,Alameda
2,01/03/2016,1.1,ppb,1,Oakland West,Alameda
3,01/04/2016,1.1,ppb,1,Oakland West,Alameda
4,01/05/2016,0.6,ppb,0,Oakland West,Alameda

In [61]:
#Checking OW & SF Count: 336
SO2_2016.count()

Date                                336
Daily_Max_1-hr_SO2_Concentration    336
UNITS                               336
DAILY_AQI_VALUE                     336
Site_Name                           336
COUNTY                              336
dtype: int64