In [2]:
#Import dependencies
import pandas as pd
import os
import numpy as np

In [3]:
#Load CSV
file_to_load = ("SF 2019 CO.csv")
CO_2019 =pd.read_csv(file_to_load)
CO_2019.head()

,Date,Source,Site ID,POC,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2019,AQS,60010009,1,0.4,ppm,5,Oakland,18,75.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
1,01/02/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
2,01/03/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
3,01/04/2019,AQS,60010009,1,0.7,ppm,8,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
4,01/05/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935

In [4]:
#Check Columns
CO_2019.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Max 8-hour CO Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [5]:
#Check Null Values
CO_2019.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [6]:
#Drop Columns
CO_2019 = CO_2019.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [7]:
#Check DataFrame
CO_2019.head()

,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/01/2019,0.4,ppm,5,Oakland
1,01/02/2019,0.6,ppm,7,Oakland
2,01/03/2019,0.6,ppm,7,Oakland
3,01/04/2019,0.7,ppm,8,Oakland
4,01/05/2019,0.6,ppm,7,Oakland

In [8]:
#Rename Site Name & Daily Concentration Columns
CO_2019 = CO_2019.rename(columns={"Site Name": "Site_Name"})
CO_2019 = CO_2019.rename(columns={"Daily Max 8-hour CO Concentration":"Daily_Max_8-hr_CO_Concentration"})
CO_2019.head()

,Date,Daily_Max_8-hr_CO_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2019,0.4,ppm,5,Oakland
1,01/02/2019,0.6,ppm,7,Oakland
2,01/03/2019,0.6,ppm,7,Oakland
3,01/04/2019,0.7,ppm,8,Oakland
4,01/05/2019,0.6,ppm,7,Oakland

In [9]:
#Filter for SF
#CO_2019 = CO_2019[(CO_2019.Site_Name == "Oakland West") | (CO_2019.Site_Name == "San Francisco")]
CO_2019 = CO_2019[(CO_2019.Site_Name == "San Francisco")]
CO_2019.head(10)

,Date,Daily_Max_8-hr_CO_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
3254,01/01/2019,0.4,ppm,5,San Francisco
3255,01/02/2019,0.5,ppm,6,San Francisco
3256,01/03/2019,0.6,ppm,7,San Francisco
3257,01/04/2019,0.6,ppm,7,San Francisco
3258,01/05/2019,0.5,ppm,6,San Francisco
3259,01/06/2019,0.2,ppm,2,San Francisco
3260,01/07/2019,0.6,ppm,7,San Francisco
3261,01/08/2019,0.6,ppm,7,San Francisco
3262,01/09/2019,0.4,ppm,5,San Francisco
3263,01/10/2019,0.6,ppm,7,San Francisco

In [10]:
#Check Count for SF
CO_2019.count()

Date                               365
Daily_Max_8-hr_CO_Concentration    365
UNITS                              365
DAILY_AQI_VALUE                    365
Site_Name                          365
dtype: int64

In [11]:
#To CSV
CO_2019.to_csv(r'2019_co.csv', header= True, index=False)

In [12]:
##Load CSV for NO2
file_to_load = ("SF 2019 NO2.csv")
NO2_2019 =pd.read_csv(file_to_load)
NO2_2019.head()

,Date,Source,Site ID,POC,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2019,AQS,60010007,1,25.8,ppb,24,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2019,AQS,60010007,1,34.7,ppb,32,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2019,AQS,60010007,1,31.7,ppb,29,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2019,AQS,60010007,1,37.2,ppb,35,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2019,AQS,60010007,1,26.8,ppb,25,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [13]:
#Check Columns
NO2_2019.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 1-hour NO2 Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [14]:
#Check Null Values
NO2_2019.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [15]:
#Drop Columns
NO2_2019 = NO2_2019.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [16]:
#Check DataFrame
NO2_2019.head()

,Date,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/01/2019,25.8,ppb,24,Livermore
1,01/02/2019,34.7,ppb,32,Livermore
2,01/03/2019,31.7,ppb,29,Livermore
3,01/04/2019,37.2,ppb,35,Livermore
4,01/05/2019,26.8,ppb,25,Livermore

In [17]:
#Rename Site Name & Daily Concentration Columns
NO2_2019 = NO2_2019.rename(columns={"Site Name": "Site_Name"})
NO2_2019 = NO2_2019.rename(columns={"Daily Max 1-hour NO2 Concentration":"Daily_Max_1-hr_NO2_Concentration"})
NO2_2019.head()

,Date,Daily_Max_1-hr_NO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2019,25.8,ppb,24,Livermore
1,01/02/2019,34.7,ppb,32,Livermore
2,01/03/2019,31.7,ppb,29,Livermore
3,01/04/2019,37.2,ppb,35,Livermore
4,01/05/2019,26.8,ppb,25,Livermore

In [18]:
#Filter for SF
#NO2_2019 = NO2_2019[(NO2_2019.Site_Name == "Oakland West") | (NO2_2019.Site_Name == "San Francisco")]
NO2_2019 = NO2_2019[(NO2_2019.Site_Name == "San Francisco")]
NO2_2019.head(10)

,Date,Daily_Max_1-hr_NO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
3919,01/01/2019,33.9,ppb,31,San Francisco
3920,01/02/2019,39.5,ppb,37,San Francisco
3921,01/03/2019,37.1,ppb,35,San Francisco
3922,01/04/2019,38.1,ppb,36,San Francisco
3923,01/05/2019,19.8,ppb,18,San Francisco
3924,01/06/2019,7.9,ppb,7,San Francisco
3925,01/07/2019,41.0,ppb,39,San Francisco
3926,01/08/2019,26.9,ppb,25,San Francisco
3927,01/09/2019,22.7,ppb,21,San Francisco
3928,01/10/2019,31.5,ppb,29,San Francisco

In [19]:
#Check Count SF
NO2_2019.count()

Date                                359
Daily_Max_1-hr_NO2_Concentration    359
UNITS                               359
DAILY_AQI_VALUE                     359
Site_Name                           359
dtype: int64

In [20]:
# To CSV
NO2_2019.to_csv(r'2019_no2.csv', header= True, index=False)

In [21]:
##Load CSV for Ozone
file_to_load = ("SF 2019 Ozone.csv")
Ozone_2019 =pd.read_csv(file_to_load)
Ozone_2019.head()

,Date,Source,Site ID,POC,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2019,AQS,60010007,1,0.032,ppm,30,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2019,AQS,60010007,1,0.021,ppm,19,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2019,AQS,60010007,1,0.026,ppm,24,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2019,AQS,60010007,1,0.021,ppm,19,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2019,AQS,60010007,1,0.036,ppm,33,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [22]:
#Check Columns
Ozone_2019.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 8-hour Ozone Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [23]:
#Check Null Values
Ozone_2019.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [24]:
#Drop Columns
Ozone_2019 = Ozone_2019.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [25]:
#Check DataFrame
Ozone_2019.head()

,Date,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/01/2019,0.032,ppm,30,Livermore
1,01/02/2019,0.021,ppm,19,Livermore
2,01/03/2019,0.026,ppm,24,Livermore
3,01/04/2019,0.021,ppm,19,Livermore
4,01/05/2019,0.036,ppm,33,Livermore

In [26]:
#Rename Site Name & Daily Concentration Columns
Ozone_2019 = Ozone_2019.rename(columns={"Site Name": "Site_Name"})
Ozone_2019 = Ozone_2019.rename(columns={"Daily Max 8-hour Ozone Concentration": "Daily_Max_8-hr_Ozone_Concentration"})
Ozone_2019.head()

,Date,Daily_Max_8-hr_Ozone_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2019,0.032,ppm,30,Livermore
1,01/02/2019,0.021,ppm,19,Livermore
2,01/03/2019,0.026,ppm,24,Livermore
3,01/04/2019,0.021,ppm,19,Livermore
4,01/05/2019,0.036,ppm,33,Livermore

In [27]:
#Filter for SF
#Ozone_2019 = Ozone_2019[(Ozone_2019.Site_Name == "Oakland West") | (Ozone_2019.Site_Name == "San Francisco")]
Ozone_2019 = Ozone_2019[(Ozone_2019.Site_Name == "San Francisco")]
Ozone_2019.head(10)

,Date,Daily_Max_8-hr_Ozone_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
3558,01/01/2019,0.032,ppm,30,San Francisco
3559,01/02/2019,0.017,ppm,16,San Francisco
3560,01/03/2019,0.018,ppm,17,San Francisco
3561,01/04/2019,0.026,ppm,24,San Francisco
3562,01/05/2019,0.039,ppm,36,San Francisco
3563,01/06/2019,0.037,ppm,34,San Francisco
3564,01/07/2019,0.019,ppm,18,San Francisco
3565,01/08/2019,0.035,ppm,32,San Francisco
3566,01/09/2019,0.035,ppm,32,San Francisco
3567,01/10/2019,0.016,ppm,15,San Francisco

In [28]:
#Check count for SF 
Ozone_2019.count()

Date                                  358
Daily_Max_8-hr_Ozone_Concentration    358
UNITS                                 358
DAILY_AQI_VALUE                       358
Site_Name                             358
dtype: int64

In [29]:
# To CSV
Ozone_2019.to_csv(r'2019_oz.csv', header= True, index=False)

In [30]:
##Load CSV for Pb
#file_to_load = ("SF 2019 Pb.csv")
#Pb_2019 =pd.read_csv(file_to_load)
#Pb_2019.head()

In [31]:
#Check Columns
#Pb_2019.columns

In [32]:
#Check Null Values
#Pb_2019.columns.isnull()

In [33]:
#Drop Columns
#Pb_2019 = Pb_2019.drop(columns=['Date','Source','Site ID','POC' ,'UNITS','Site Name','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'COUNTY'], axis=1)

In [34]:
#Check DataFrame
#Pb_2019.head()

In [35]:
#Check count
#Pb_2019.count()

In [36]:
##Load CSV for PM2.5
file_to_load = ("SF 2019 PM2.5.csv")
PM2_5_2019 =pd.read_csv(file_to_load)
PM2_5_2019.head()

,Date,Source,Site ID,POC,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2019,AQS,60010007,3,5.7,ug/m3 LC,24,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2019,AQS,60010007,3,11.9,ug/m3 LC,50,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2019,AQS,60010007,3,20.1,ug/m3 LC,68,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2019,AQS,60010007,3,28.8,ug/m3 LC,86,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2019,AQS,60010007,3,11.2,ug/m3 LC,47,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [37]:
#Check Columns
PM2_5_2019.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM2.5 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [38]:
#Check Null Values
PM2_5_2019.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [39]:
#Drop Columns
PM2_5_2019 = PM2_5_2019.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [40]:
#Check DataFrame
PM2_5_2019.head()

,Date,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/01/2019,5.7,ug/m3 LC,24,Livermore
1,01/02/2019,11.9,ug/m3 LC,50,Livermore
2,01/03/2019,20.1,ug/m3 LC,68,Livermore
3,01/04/2019,28.8,ug/m3 LC,86,Livermore
4,01/05/2019,11.2,ug/m3 LC,47,Livermore

In [41]:
#Rename Site Name & Daily Concentration Column
PM2_5_2019 = PM2_5_2019.rename(columns={"Site Name": "Site_Name"})
PM2_5_2019 = PM2_5_2019.rename(columns={"Daily Mean PM2.5 Concentration": "Daily_Mean_PM2.5_Concentration"})
PM2_5_2019.head()

,Date,Daily_Mean_PM2.5_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2019,5.7,ug/m3 LC,24,Livermore
1,01/02/2019,11.9,ug/m3 LC,50,Livermore
2,01/03/2019,20.1,ug/m3 LC,68,Livermore
3,01/04/2019,28.8,ug/m3 LC,86,Livermore
4,01/05/2019,11.2,ug/m3 LC,47,Livermore

In [42]:
#Filter for SF & Oakland West
#PM2_5_2019 = PM2_5_2019[(PM2_5_2019.Site_Name == "Oakland West") | (PM2_5_2019.Site_Name == "San Francisco")]
PM2_5_2019 = PM2_5_2019[(PM2_5_2019.Site_Name == "San Francisco")]
PM2_5_2019.head(10)

,Date,Daily_Mean_PM2.5_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
3405,01/01/2019,3.8,ug/m3 LC,16,San Francisco
3406,01/02/2019,11.5,ug/m3 LC,48,San Francisco
3407,01/03/2019,21.7,ug/m3 LC,71,San Francisco
3408,01/04/2019,25.4,ug/m3 LC,79,San Francisco
3409,01/05/2019,6.0,ug/m3 LC,25,San Francisco
3410,01/06/2019,4.3,ug/m3 LC,18,San Francisco
3411,01/07/2019,6.2,ug/m3 LC,26,San Francisco
3412,01/08/2019,5.9,ug/m3 LC,25,San Francisco
3413,01/09/2019,6.2,ug/m3 LC,26,San Francisco
3414,01/10/2019,12.0,ug/m3 LC,50,San Francisco

In [43]:
#Check count SF
PM2_5_2019.count()

Date                              359
Daily_Mean_PM2.5_Concentration    359
UNITS                             359
DAILY_AQI_VALUE                   359
Site_Name                         359
dtype: int64

In [44]:
# To CSV
PM2_5_2019.to_csv(r'2019_pm2_5.csv', header= True, index=False)

In [45]:
##Load CSV for SO2
#file_to_load = ("SF 2019 SO2.csv")
#SO2_2019 =pd.read_csv(file_to_load)
#SO2_2019.head()

In [46]:
#Check Columns
#SO2_2019.columns

In [47]:
#Check Null Values
#SO2_2019.columns.isnull()

In [48]:
#Drop Columns
#SO2_2019 = SO2_2019.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [49]:
#Check DataFrame
#SO2_2019.head()

In [50]:
#Rename Site Name & Daily Concentration Columns
#SO2_2019 = SO2_2019.rename(columns={"Site Name": "Site_Name"})
#SO2_2019 = SO2_2019.rename(columns={"Daily Max 1-hour SO2 Concentration": "Daily_Max_1-hour_SO2_Concentration"})
#SO2_2019.head()

In [51]:
#Filter for SF & Oakland West
#SO2_2019 = SO2_2019[(SO2_2019.Site_Name == "Oakland West") | (SO2_2019.Site_Name == "San Francisco")]
#SO2_2019.head(10)

In [52]:
#Check Count SF & Oakland West
#SO2_2019.count()

In [53]:
# To CSV
#SO2_2019.to_csv(r'SO2_2019_clean.csv', header= True, index=False)

In [54]:
##Load CSV for PM10
file_to_load = ("SF 2019 PM10.csv")
PM10_2019 =pd.read_csv(file_to_load)
PM10_2019.head()

,Date,Source,Site ID,POC,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/09/2019,AQS,60130002,1,6,ug/m3 SC,6,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
1,01/21/2019,AQS,60130002,1,6,ug/m3 SC,6,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
2,02/02/2019,AQS,60130002,1,2,ug/m3 SC,2,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
3,02/14/2019,AQS,60130002,1,4,ug/m3 SC,4,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
4,02/26/2019,AQS,60130002,1,4,ug/m3 SC,4,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154

In [55]:
#Check Columns
PM10_2019.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM10 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [56]:
#Check Null Values
PM10_2019.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [57]:
#Drop Columns
PM10_2019 = PM10_2019.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [58]:
#Check DataFrame
PM10_2019.head()

,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/09/2019,6,ug/m3 SC,6,Concord
1,01/21/2019,6,ug/m3 SC,6,Concord
2,02/02/2019,2,ug/m3 SC,2,Concord
3,02/14/2019,4,ug/m3 SC,4,Concord
4,02/26/2019,4,ug/m3 SC,4,Concord

In [59]:
#Rename Site Name & Concentration Columns
PM10_2019 = PM10_2019.rename(columns={"Site Name": "Site_Name"})
PM10_2019 = PM10_2019.rename(columns={"Daily Mean PM10 Concentration": "Daily_Mean_PM10_Concentration"})
PM10_2019.head()

,Date,Daily_Mean_PM10_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/09/2019,6,ug/m3 SC,6,Concord
1,01/21/2019,6,ug/m3 SC,6,Concord
2,02/02/2019,2,ug/m3 SC,2,Concord
3,02/14/2019,4,ug/m3 SC,4,Concord
4,02/26/2019,4,ug/m3 SC,4,Concord

In [60]:
#Filter for SF
#PM10_2019 = PM10_2019[(PM10_2019.Site_Name == "Oakland West") | (PM10_2019.Site_Name == "San Francisco")]
PM10_2019 = PM10_2019[(PM10_2019.Site_Name == "San Francisco")]
PM10_2019.head(10)

,Date,Daily_Mean_PM10_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
237,01/09/2019,13,ug/m3 SC,12,San Francisco
238,01/21/2019,13,ug/m3 SC,12,San Francisco
239,02/02/2019,9,ug/m3 SC,8,San Francisco
240,02/14/2019,9,ug/m3 SC,8,San Francisco
241,02/26/2019,6,ug/m3 SC,6,San Francisco
242,03/10/2019,5,ug/m3 SC,5,San Francisco
243,03/22/2019,9,ug/m3 SC,8,San Francisco
244,04/03/2019,5,ug/m3 SC,5,San Francisco
245,04/15/2019,15,ug/m3 SC,14,San Francisco
246,04/27/2019,29,ug/m3 SC,27,San Francisco

In [61]:
#Check Count for SF
PM10_2019.count()

Date                             30
Daily_Mean_PM10_Concentration    30
UNITS                            30
DAILY_AQI_VALUE                  30
Site_Name                        30
dtype: int64

In [62]:
# To CSV
PM10_2019.to_csv(r'2019_pm10.csv', header= True, index=False)