In [1]:
#Import dependencies
import pandas as pd
import os
import numpy as np

In [2]:
#Load CSV
file_to_load = ("SF 2018 CO Original.csv")
CO_2018 =pd.read_csv(file_to_load)
CO_2018.head()

,Date,Source,Site ID,POC,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010009,1,0.9,ppm,10,Oakland,18,75.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
1,01/02/2018,AQS,60010009,1,1.2,ppm,14,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
2,01/03/2018,AQS,60010009,1,1.4,ppm,16,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
3,01/04/2018,AQS,60010009,1,0.7,ppm,8,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
4,01/05/2018,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935

In [3]:
#Check Columns
CO_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Max 8-hour CO Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [4]:
#Check Null Values
CO_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [5]:
#Drop Columns
CO_2018 = CO_2018.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [6]:
#Check DataFrame
CO_2018.head()

,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2018,0.9,ppm,10,Oakland,Alameda
1,01/02/2018,1.2,ppm,14,Oakland,Alameda
2,01/03/2018,1.4,ppm,16,Oakland,Alameda
3,01/04/2018,0.7,ppm,8,Oakland,Alameda
4,01/05/2018,0.6,ppm,7,Oakland,Alameda

In [7]:
#Rename Site Name & Daily Concentration Columns
CO_2018 = CO_2018.rename(columns={"Site Name": "Site_Name"})
CO_2018 = CO_2018.rename(columns={"Daily Max 8-hour CO Concentration":"Daily_Max_8-hour_CO_Concentration"})
CO_2018.head()

,Date,Daily_Max_8-hour_CO_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2018,0.9,ppm,10,Oakland,Alameda
1,01/02/2018,1.2,ppm,14,Oakland,Alameda
2,01/03/2018,1.4,ppm,16,Oakland,Alameda
3,01/04/2018,0.7,ppm,8,Oakland,Alameda
4,01/05/2018,0.6,ppm,7,Oakland,Alameda

In [8]:
#Check Count
CO_2018.count()

Date                                 3906
Daily_Max_8-hour_CO_Concentration    3906
UNITS                                3906
DAILY_AQI_VALUE                      3906
Site_Name                            3906
COUNTY                               3906
dtype: int64

In [9]:
#Filter for SF & Oakland West
CO_2018 = CO_2018[(CO_2018.Site_Name == "Oakland West") | (CO_2018.Site_Name == "San Francisco")]
CO_2018.head(10)

,Date,Daily_Max_8-hour_CO_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
363,01/01/2018,1.3,ppm,15,Oakland West,Alameda
364,01/02/2018,1.9,ppm,22,Oakland West,Alameda
365,01/03/2018,1.3,ppm,15,Oakland West,Alameda
366,01/04/2018,0.9,ppm,10,Oakland West,Alameda
367,01/05/2018,0.7,ppm,8,Oakland West,Alameda
368,01/06/2018,1.2,ppm,14,Oakland West,Alameda
369,01/07/2018,1.5,ppm,17,Oakland West,Alameda
370,01/08/2018,0.8,ppm,9,Oakland West,Alameda
371,01/09/2018,0.6,ppm,7,Oakland West,Alameda
372,01/10/2018,0.5,ppm,6,Oakland West,Alameda

In [10]:
#Check SF & Oakland West Count 730 is total
CO_2018.count()

Date                                 725
Daily_Max_8-hour_CO_Concentration    725
UNITS                                725
DAILY_AQI_VALUE                      725
Site_Name                            725
COUNTY                               725
dtype: int64

In [11]:
#To CSV
CO_2018.to_csv(r'CO_2018_clean.csv', header= True, index=False)

In [12]:
##Load CSV for NO2
file_to_load = ("SF 2018 NO2.csv")
NO2_2018 =pd.read_csv(file_to_load)
NO2_2018.head()

,Date,Source,Site ID,POC,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010007,1,27.3,ppb,25,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2018,AQS,60010007,1,26.5,ppb,25,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2018,AQS,60010007,1,32.5,ppb,30,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2018,AQS,60010007,1,24.0,ppb,23,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2018,AQS,60010007,1,22.6,ppb,21,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [13]:
#Check Columns
NO2_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 1-hour NO2 Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [14]:
#Check Null Values
NO2_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [15]:
#Drop Columns
NO2_2018 = NO2_2018.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [16]:
#Check DataFrame
NO2_2018.head()

,Date,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2018,27.3,ppb,25,Livermore,Alameda
1,01/02/2018,26.5,ppb,25,Livermore,Alameda
2,01/03/2018,32.5,ppb,30,Livermore,Alameda
3,01/04/2018,24.0,ppb,23,Livermore,Alameda
4,01/05/2018,22.6,ppb,21,Livermore,Alameda

In [26]:
#Rename Site Name & Daily Concentration Columns
NO2_2018 = NO2_2018.rename(columns={"Site Name": "Site_Name"})
NO2_2018 = NO2_2018.rename(columns={"Daily Max 1-hour NO2 Concentration":"Daily_Max_1-hour_NO2_Concentration"})
NO2_2018.head()

,Date,Daily_Max_1-hour_NO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
727,01/01/2018,30.5,ppb,28,Oakland West,Alameda
728,01/02/2018,48.8,ppb,45,Oakland West,Alameda
729,01/03/2018,48.4,ppb,45,Oakland West,Alameda
730,01/04/2018,29.6,ppb,27,Oakland West,Alameda
731,01/05/2018,28.4,ppb,26,Oakland West,Alameda

In [27]:
#Filter for SF & Oakland West
NO2_2018 = NO2_2018[(NO2_2018.Site_Name == "Oakland West") | (NO2_2018.Site_Name == "San Francisco")]
NO2_2018.head(10)

,Date,Daily_Max_1-hour_NO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
727,01/01/2018,30.5,ppb,28,Oakland West,Alameda
728,01/02/2018,48.8,ppb,45,Oakland West,Alameda
729,01/03/2018,48.4,ppb,45,Oakland West,Alameda
730,01/04/2018,29.6,ppb,27,Oakland West,Alameda
731,01/05/2018,28.4,ppb,26,Oakland West,Alameda
732,01/06/2018,28.9,ppb,26,Oakland West,Alameda
733,01/07/2018,23.0,ppb,22,Oakland West,Alameda
734,01/08/2018,31.7,ppb,29,Oakland West,Alameda
735,01/09/2018,21.0,ppb,20,Oakland West,Alameda
736,01/10/2018,36.5,ppb,34,Oakland West,Alameda

In [28]:
#Check Count for SF & Oakland West
NO2_2018.count()

Date                                  722
Daily_Max_1-hour_NO2_Concentration    722
UNITS                                 722
DAILY_AQI_VALUE                       722
Site_Name                             722
COUNTY                                722
dtype: int64

In [29]:
# To CSV
NO2_2018.to_csv(r'NO2_2018_clean.csv', header= True, index=False)

In [30]:
##Load CSV for Ozone
file_to_load = ("SF 2018 Ozone.csv")
Ozone_2018 =pd.read_csv(file_to_load)
Ozone_2018.head()

,Date,Source,Site ID,POC,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010007,1,0.027,ppm,25,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2018,AQS,60010007,1,0.033,ppm,31,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2018,AQS,60010007,1,0.004,ppm,4,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2018,AQS,60010007,1,0.026,ppm,24,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2018,AQS,60010007,1,0.024,ppm,22,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [31]:
#Check Columns
Ozone_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 8-hour Ozone Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [32]:
#Check Null Values
Ozone_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [33]:
#Drop Columns
Ozone_2018 = Ozone_2018.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [34]:
#Check DataFrame
Ozone_2018.head()

,Date,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2018,0.027,ppm,25,Livermore,Alameda
1,01/02/2018,0.033,ppm,31,Livermore,Alameda
2,01/03/2018,0.004,ppm,4,Livermore,Alameda
3,01/04/2018,0.026,ppm,24,Livermore,Alameda
4,01/05/2018,0.024,ppm,22,Livermore,Alameda

In [35]:
#Rename Site Name & Daily Concentraion Columns
Ozone_2018 = Ozone_2018.rename(columns={"Site Name": "Site_Name"})
Ozone_2018 = Ozone_2018.rename(columns={"Daily Max 8-hour Ozone Concentration": "Daily_Max_8-hour_Ozone_Concentration"})
Ozone_2018.head()

,Date,Daily_Max_8-hour_Ozone_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2018,0.027,ppm,25,Livermore,Alameda
1,01/02/2018,0.033,ppm,31,Livermore,Alameda
2,01/03/2018,0.004,ppm,4,Livermore,Alameda
3,01/04/2018,0.026,ppm,24,Livermore,Alameda
4,01/05/2018,0.024,ppm,22,Livermore,Alameda

In [36]:
#Filter for SF & Oakland West
Ozone_2018 = Ozone_2018[(Ozone_2018.Site_Name == "Oakland West") | (Ozone_2018.Site_Name == "San Francisco")]
Ozone_2018.head(10)

,Date,Daily_Max_8-hour_Ozone_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
722,01/01/2018,0.015,ppm,14,Oakland West,Alameda
723,01/02/2018,0.004,ppm,4,Oakland West,Alameda
724,01/03/2018,0.016,ppm,15,Oakland West,Alameda
725,01/04/2018,0.016,ppm,15,Oakland West,Alameda
726,01/05/2018,0.023,ppm,21,Oakland West,Alameda
727,01/06/2018,0.027,ppm,25,Oakland West,Alameda
728,01/07/2018,0.005,ppm,5,Oakland West,Alameda
729,01/08/2018,0.004,ppm,4,Oakland West,Alameda
730,01/09/2018,0.032,ppm,30,Oakland West,Alameda
731,01/10/2018,0.022,ppm,20,Oakland West,Alameda

In [37]:
#Check count for SF & Oakland West
Ozone_2018.count()

Date                                    711
Daily_Max_8-hour_Ozone_Concentration    711
UNITS                                   711
DAILY_AQI_VALUE                         711
Site_Name                               711
COUNTY                                  711
dtype: int64

In [38]:
#To CSV
Ozone_2018.to_csv(r'Ozone_2018_clean.csv', header= True, index=False)

In [321]:
##Load CSV for Pb
#file_to_load = ("SF 2018 Pb.csv")
#Pb_2018 =pd.read_csv(file_to_load)
#Pb_2018.head()

In [322]:
#Check Columns
#Pb_2018.columns

In [323]:
#Check Null Values
#Pb_2018.columns.isnull()

In [324]:
#Drop Columns
#Pb_2018 = Pb_2018.drop(columns=['Source','Site ID','POC','Site Name','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','STATE_CODE','STATE','COUNTY_CODE'], axis=1)

In [325]:
#Check DataFrame
#Pb_2018.head()

In [326]:
#Check count
#Pb_2018.count()

In [39]:
##Load CSV for PM2.5
file_to_load = ("SF 2018 PM2.5.csv")
PM2_5_2018 =pd.read_csv(file_to_load)
PM2_5_2018.head()

,Date,Source,Site ID,POC,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010007,3,28.1,ug/m3 LC,85,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2018,AQS,60010007,3,24.5,ug/m3 LC,77,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2018,AQS,60010007,3,39.0,ug/m3 LC,110,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2018,AQS,60010007,3,20.9,ug/m3 LC,70,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2018,AQS,60010007,3,5.5,ug/m3 LC,23,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [40]:
#Check Columns
PM2_5_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM2.5 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [41]:
#Check Null Values
PM2_5_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [42]:
#Drop Columns
PM2_5_2018 = PM2_5_2018.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [43]:
#Check DataFrame
PM2_5_2018.head()

,Date,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2018,28.1,ug/m3 LC,85,Livermore,Alameda
1,01/02/2018,24.5,ug/m3 LC,77,Livermore,Alameda
2,01/03/2018,39.0,ug/m3 LC,110,Livermore,Alameda
3,01/04/2018,20.9,ug/m3 LC,70,Livermore,Alameda
4,01/05/2018,5.5,ug/m3 LC,23,Livermore,Alameda

In [44]:
#Rename Site Name & Daily Concentration Columns
PM2_5_2018 = PM2_5_2018.rename(columns={"Site Name": "Site_Name"})
PM2_5_2018 = PM2_5_2018.rename(columns={"Daily Mean PM2.5 Concentration": "Daily_Mean_PM2.5_Concentration"})
PM2_5_2018.head()

,Date,Daily_Mean_PM2.5_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2018,28.1,ug/m3 LC,85,Livermore,Alameda
1,01/02/2018,24.5,ug/m3 LC,77,Livermore,Alameda
2,01/03/2018,39.0,ug/m3 LC,110,Livermore,Alameda
3,01/04/2018,20.9,ug/m3 LC,70,Livermore,Alameda
4,01/05/2018,5.5,ug/m3 LC,23,Livermore,Alameda

In [45]:
#Filter for SF & Oakland West
PM2_5_2018 = PM2_5_2018[(PM2_5_2018.Site_Name == "Oakland West") | (PM2_5_2018.Site_Name == "San Francisco")]
PM2_5_2018.head(10)

,Date,Daily_Mean_PM2.5_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
721,01/01/2018,29.0,ug/m3 LC,87,Oakland West,Alameda
722,01/02/2018,33.0,ug/m3 LC,95,Oakland West,Alameda
723,01/03/2018,35.6,ug/m3 LC,101,Oakland West,Alameda
724,01/04/2018,21.5,ug/m3 LC,71,Oakland West,Alameda
725,01/05/2018,5.0,ug/m3 LC,21,Oakland West,Alameda
726,01/06/2018,11.2,ug/m3 LC,47,Oakland West,Alameda
727,01/07/2018,16.0,ug/m3 LC,59,Oakland West,Alameda
728,01/08/2018,12.5,ug/m3 LC,52,Oakland West,Alameda
729,01/09/2018,6.3,ug/m3 LC,26,Oakland West,Alameda
730,01/10/2018,8.7,ug/m3 LC,36,Oakland West,Alameda

In [46]:
#Check count for SF & Oakland West
PM2_5_2018.count()

Date                              708
Daily_Mean_PM2.5_Concentration    708
UNITS                             708
DAILY_AQI_VALUE                   708
Site_Name                         708
COUNTY                            708
dtype: int64

In [47]:
#To CSV
PM2_5_2018.to_csv(r'PM2_5_2018_clean.csv', header= True, index=False)

In [48]:
##Load CSV for SO2
file_to_load = ("SF 2018 SO2.csv")
SO2_2018 =pd.read_csv(file_to_load)
SO2_2018.head()

,Date,Source,Site ID,POC,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010011,1,1.8,ppb,1,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
1,01/02/2018,AQS,60010011,1,2.9,ppb,3,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
2,01/03/2018,AQS,60010011,1,1.4,ppb,1,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
3,01/04/2018,AQS,60010011,1,1.0,ppb,1,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
4,01/05/2018,AQS,60010011,1,0.2,ppb,0,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347

In [49]:
#Check Columns
SO2_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 1-hour SO2 Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [50]:
#Check Null Values
SO2_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [51]:
#Drop Columns
SO2_2018 = SO2_2018.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [52]:
#Check DataFrame
SO2_2018.head()

,Date,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2018,1.8,ppb,1,Oakland West,Alameda
1,01/02/2018,2.9,ppb,3,Oakland West,Alameda
2,01/03/2018,1.4,ppb,1,Oakland West,Alameda
3,01/04/2018,1.0,ppb,1,Oakland West,Alameda
4,01/05/2018,0.2,ppb,0,Oakland West,Alameda

In [53]:
#Rename Site Name & Daily Concentration Columns
SO2_2018 = SO2_2018.rename(columns={"Site Name": "Site_Name"})
SO2_2018 = SO2_2018.rename(columns={"Daily Max 1-hour SO2 Concentration": "Daily_Max_1-hour_SO2_Concentration"})
SO2_2018.head()

,Date,Daily_Max_1-hour_SO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2018,1.8,ppb,1,Oakland West,Alameda
1,01/02/2018,2.9,ppb,3,Oakland West,Alameda
2,01/03/2018,1.4,ppb,1,Oakland West,Alameda
3,01/04/2018,1.0,ppb,1,Oakland West,Alameda
4,01/05/2018,0.2,ppb,0,Oakland West,Alameda

In [54]:
#Filter for SF & Oakland West
SO2_2018 = SO2_2018[(SO2_2018.Site_Name == "Oakland West") | (SO2_2018.Site_Name == "San Francisco")]
SO2_2018.head(10)

,Date,Daily_Max_1-hour_SO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2018,1.8,ppb,1,Oakland West,Alameda
1,01/02/2018,2.9,ppb,3,Oakland West,Alameda
2,01/03/2018,1.4,ppb,1,Oakland West,Alameda
3,01/04/2018,1.0,ppb,1,Oakland West,Alameda
4,01/05/2018,0.2,ppb,0,Oakland West,Alameda
5,01/06/2018,0.9,ppb,0,Oakland West,Alameda
6,01/07/2018,1.5,ppb,1,Oakland West,Alameda
7,01/08/2018,0.8,ppb,0,Oakland West,Alameda
8,01/09/2018,0.4,ppb,0,Oakland West,Alameda
9,01/10/2018,0.7,ppb,0,Oakland West,Alameda

In [55]:
#Check Count for SF & Oakland West
SO2_2018.count()

Date                                  358
Daily_Max_1-hour_SO2_Concentration    358
UNITS                                 358
DAILY_AQI_VALUE                       358
Site_Name                             358
COUNTY                                358
dtype: int64

In [56]:
#To CSV
SO2_2018.to_csv(r'SO2_2018_clean.csv', header= True, index=False)

In [57]:
##Load CSV for PM2.5
file_to_load = ("SF 2018 PM10.csv")
PM10_2018 =pd.read_csv(file_to_load)
PM10_2018.head()

,Date,Source,Site ID,POC,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/02/2018,AQS,60130002,1,24,ug/m3 SC,22,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
1,01/14/2018,AQS,60130002,1,24,ug/m3 SC,22,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
2,01/26/2018,AQS,60130002,1,9,ug/m3 SC,8,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
3,02/07/2018,AQS,60130002,1,25,ug/m3 SC,23,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
4,02/19/2018,AQS,60130002,1,5,ug/m3 SC,5,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154

In [58]:
#Check Columns
PM10_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM10 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [59]:
#Check Null Values
PM10_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [60]:
#Drop Columns
PM10_2018 = PM10_2018.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [61]:
#Check DataFrame
PM10_2018.head()

,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/02/2018,24,ug/m3 SC,22,Concord,Contra Costa
1,01/14/2018,24,ug/m3 SC,22,Concord,Contra Costa
2,01/26/2018,9,ug/m3 SC,8,Concord,Contra Costa
3,02/07/2018,25,ug/m3 SC,23,Concord,Contra Costa
4,02/19/2018,5,ug/m3 SC,5,Concord,Contra Costa

In [62]:
#Rename Site Name & Concentration Columns
PM10_2018 = PM10_2018.rename(columns={"Site Name": "Site_Name"})
PM10_2018 = PM10_2018.rename(columns={"Daily Mean PM10 Concentration": "Daily_Mean_PM10_Concentration"})
PM10_2018.head()

,Date,Daily_Mean_PM10_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/02/2018,24,ug/m3 SC,22,Concord,Contra Costa
1,01/14/2018,24,ug/m3 SC,22,Concord,Contra Costa
2,01/26/2018,9,ug/m3 SC,8,Concord,Contra Costa
3,02/07/2018,25,ug/m3 SC,23,Concord,Contra Costa
4,02/19/2018,5,ug/m3 SC,5,Concord,Contra Costa

In [63]:
#Filter for SF & Oakland West
PM10_2018 = PM10_2018[(PM10_2018.Site_Name == "Oakland West") | (PM10_2018.Site_Name == "San Francisco")]
PM10_2018.head(10)

,Date,Daily_Mean_PM10_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
227,01/02/2018,40,ug/m3 SC,37,San Francisco,San Francisco
228,01/14/2018,26,ug/m3 SC,24,San Francisco,San Francisco
229,01/26/2018,18,ug/m3 SC,17,San Francisco,San Francisco
230,02/07/2018,35,ug/m3 SC,32,San Francisco,San Francisco
231,02/19/2018,9,ug/m3 SC,8,San Francisco,San Francisco
232,03/03/2018,7,ug/m3 SC,6,San Francisco,San Francisco
233,03/15/2018,12,ug/m3 SC,11,San Francisco,San Francisco
234,03/27/2018,23,ug/m3 SC,21,San Francisco,San Francisco
235,04/08/2018,24,ug/m3 SC,22,San Francisco,San Francisco
236,04/20/2018,29,ug/m3 SC,27,San Francisco,San Francisco

In [64]:
#Check Count for SF & Oakland West
PM10_2018.count()

Date                             30
Daily_Mean_PM10_Concentration    30
UNITS                            30
DAILY_AQI_VALUE                  30
Site_Name                        30
COUNTY                           30
dtype: int64

In [65]:
#To CSV
PM10_2018.to_csv(r'PM10_2018_clean.csv', header= True, index=False)